# Ignore build and distribution directories
dist/
build/

# Ignore node_modules
node_modules/

# Ignore specific config files
*.config.js
*.config.ts

# Ignore any test files
*.test.ts
*.test.js

# Ignore coverage folder (for test coverage)
coverage/

# Ignore log files
*.log
